    {% extends "base.html" %}

{% block content %}
<main>
    <section>
        <div class="m-10 rounded-lg bg-white px-6 py-8 shadow-xl ring-1 ring-slate-900/5">
            <h3 class="text-base font-medium tracking-tight text-slate-900 dark:text-white">Quote of the day</h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-blue-100">"To err is human, to forgive is divine"</p>
    
            <button id="addQuote" class="mt-8 rounded-md bg-blue-600 px-4 py-2 text-sm font-medium text-white" onclick="document.body.classList.toggle('dark')">Add Quote</button>
        </div>  
    </section>
</main>
{% endblock %}
