{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container mx-auto p-5">
    <div class="container mx-auto p-5">
        <h1 class="text-2xl font-bold">Create Section</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded">Create Section</button>
        </form>
    </div>
    <h1 class="text-2xl font-bold">Create Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded">Create Post</button>
    </form>
</div>
{% endblock %}