{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-5">
        <h1 class="text-3xl text-red font-bold">Blog Sections</h1>
        <ul>
            {% for section in sections %}
                <li>
                    <a href="{% url 'post_list' section.slug %}">{{ section.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
