{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="bg-gray-100">
    <div class="container mx-auto p-5">
        <h1 class="text-3xl text-red font-bold">Blog Sections</h1>
        <ul>
            {% for section in sections %}
                <li>
                    <a href="{% url 'post_list' section.slug %}">{{ section.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% comment %} button to redirect to the creation of both post and section, aesthetics to be worked on eventually {% endcomment %}
        <div class="flex">
            <button class="mt-8 rounded-full bg-blue-600 px-4 py-2 text-sm font-medium flex text-white" onclick="document.body.classList.toggle('dark')">
                <a href="{% url 'create' %}">Create a new section</a>
            </button>
        </div>
    </div>
</body>
{% endblock %}